.details-banner {
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120%);
}
.team-details-container {
  background-color: #321f28;
  border-radius: 20px;
  color:white
}
.team-image img {
  height: 200px;
}
.footer img {
  height: 50px;
}
.footer {
  margin-left: 45%;
}
